@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.anchor-target::before {
  content: "";
  display: block;
  height: 87.99px;
  margin-top: -87.99px;
  visibility: hidden;
  pointer-events: none;
}
