---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Profile from '../components/Profile.astro';
import Interest from '../components/Interest.astro';
import WorkHistory from '../components/WorkHistory.astro';
import Research from '../components/Research.astro';
import Hobbies from '../components/Hobbies.astro';
import Awards from '../components/Awards.astro';
import Works from '../components/Works.astro';
---

<Layout>
  <Navbar />
  <div>
    <Profile />
    <Interest />
    <WorkHistory />
    <Research />
    <Hobbies />
    <Awards />
    <Works />
  </div>
</Layout>
