---
---

<div id="jr" class="grid grid-cols-12">
  <h1 class="col-span-12 text-2xl font-bold anchor-target">受賞歴</h1>
  <div id="jr-h" class="grid grid-cols-12">
    <h2 class="col-span-12">ハッカソン</h2>
    <h3 class="col-span-12">Hacker Wars(2015年)</h3>
    <p class="col-span-12">
      研究室の先輩に誘われ、RedImpulseの方々に混ぜていただいて出場し、<br />
      お母さんの為の息子・パパが帰る時間管理システム「OKAN」の開発を行いました。<br />
      シンプルな機能を評価いただき、アカツキ賞、freee賞をいただきました。<br />
      Hacker WarsのWebページ:<a href="http://hackerwars.goodfind.jp/" target="_blank">http://hackerwars.goodfind.jp/</a>
    </p>
    <div class="col-span-12 flex">
      <img src="/img/hackerwars1.png" class="max-w-full" width="40%" />
      <img src="/img/hackerwars2.png" class="max-w-full" width="40%" />
    </div>
    <h3 class="col-span-12">Hack U東京会場(2016年)</h3>
    <p class="col-span-12">
      UEC InSilico結成後2戦目のハッカソン参加となり、1戦目であったHack U電気通信大学会場の雪辱を晴らすために出場しました。<br />
      テーマが「自動◯◯」だったので、自動で行くべき飯屋を検索し、方向だけを提示する「GO飯」というアプリを制作しました。<br />
      イヤホンジャックを用いた物理モジュールや、コンセプトが評価され、最優秀賞、Happy Hacking賞をいただきました。<br />
      ※別のハッカソンと日程が被ってしまったため、表彰式には出席できませんでした。<br />
      Hack UのWebページ:<a href="http://hacku.yahoo.co.jp/" target="_blank">http://hacku.yahoo.co.jp/</a>
      学内の表彰のWebページ:<a href="http://www.uec.ac.jp/news/prize/2016/20161013-1.html" target="_blank">http://www.uec.ac.jp/news/prize/2016/20161013-1.html</a>
    </p>
    <img src="/img/hacku.png" class="max-w-full col-span-12" width="40%" />
    <h3 class="col-span-12">湯けむりハッカソン(2016年)</h3>
    <p class="col-span-12">
      現地でチームのマッチングが行われる、単体参加のハッカソンに初挑戦する意味で出場しました。<br />
      テーマが「エンジニア・デザイナーの問題を解決する」だったので、<br />
      初対面のエンジニアがWebアプリを作るのにどの知識が足りないかを視覚的に認識できるWebアプリを制作しました。<br />
      コンセプトの一貫性が評価され、「寝無隊」として最優秀賞をいただきました。<br />
      湯けむりハッカソンのWebページ:<a href="https://www.goodfind.jp/program/leverages/hackersbattle/" target="_blank">https://www.goodfind.jp/program/leverages/hackersbattle/</a>
    </p>
    <img src="/img/yukemuri.png" class="max-w-full col-span-12" width="40%" />
    <h3 class="col-span-12">Hack Day 2017(2017年)</h3>
    <p class="col-span-12">
      上記のHack U東京会場の決勝にあたるハッカソン。<br />
      学生部門には「日本をハッピーにする」というテーマが与えられたので、<br />
      ハンガーに温度センサー、モーター、発熱装置をくっつけたIoTハンガー、「Tokichiro」を制作しました。<br />
      流行りのIoTを導入し、使用までのハードルが低くなっていることが評価され、学生部門最優秀賞をいただきました。<br />
      Hack Day 2017のWebページ:<a href="http://hackday.jp/" target="_blank">http://hackday.jp/</a><br />
      学内の表彰のWebページ:<a href="http://www.uec.ac.jp/news/prize/2016/20170209-4.html" target="_blank">http://www.uec.ac.jp/news/prize/2016/20170209-4.html</a>
    </p>
    <div class="col-span-12 flex">
      <img src="/img/hackday1.jpg" class="max-w-full" width="40%" />
      <img src="/img/hackday3.png" class="max-w-full" width="40%" />
    </div>
    <h3 class="col-span-12">My CryptoHeroes Hackathon</h3>
    <p class="col-span-12">
      Ethereum上に実装されたゲームMyCriptoHeroesのデータを利用した作品のハッカソンに一人で参加させていただきました。<br />
      野良チームにて、アセットをトレードすることの出来るプログラムを制作し、チーム1としてCryptoSpells賞をいただきました。<br />
      CryptoHeroes HackathonのWebページ:<a href="https://www.mchhackathon.com/" target="_blank">https://www.mchhackathon.com/</a>
    </p>
  </div>
</div>
