---
---

<div id="ks" class="grid grid-cols-12">
  <h1 class="col-span-12 text-2xl font-bold anchor-target">趣味</h1>
  <div id="ks-g" class="grid grid-cols-12">
    <h2 class="col-span-12">現在の趣味</h2>
    <h3 class="col-span-12">ハッカソン</h3>
    <p class="col-span-12">
      短期間で集中して一つのものを作るというコンセプトが自分のモノづくりスタイルに合っており、<br />
      「UEC InSilico」というチームを立ち上げ、様々なハッカソンに参加させていただいておりました。
    </p>
    <img src="/img/hackason.png" class="max-w-full col-span-12" width="40%" />
    <h3 class="col-span-12">League of Legends</h3>
    <p class="col-span-12">
      League of Legendsは世界で1番人口の多いオンラインゲームで、競技性が高いため、たくさんの大会が開かれており、スポンサーのついたプロチームも数多く存在します。
      Burning CoreというプロチームにてGMをしておりました。<br />
      <br />
      <u>経歴</u><br />
      Nibble Gaming(Analyst)<br />
      Kingdom(Coach)<br />
      V3 Esports(Advisor)<br />
      Burning Core(General Manager)<br />
      <br />
      League of LegendsのWebページ:<a href="http://jp.leagueoflegends.com/" target="_blank">http://jp.leagueoflegends.com/</a><br />
    </p>
    <img src="/img/lol.png" class="max-w-full col-span-12" width="40%" />
  </div>
  <div id="kb-k" class="grid grid-cols-12">
    <h2 class="col-span-12">過去の趣味</h2>
    <h3 class="col-span-12">バスケットボール</h3>
    <p class="col-span-12">
      高校時代からバスケットボールに魅せられ、大学から部活に所属し、主将として活動させていただきました。<br />
      試合中にしてしまった怪我の後遺症で、現在は全力でプレーすることはできませんが、「バスケするよ」と誘われたら飛んで行く人間です。
    </p>
    <img src="/img/basketball.png" class="max-w-full col-span-12" width="40%" />
  </div>
</div>
