---
---

<div id="it" class="anchor-target">
  <h1 class="text-2xl font-bold anchor-target">興味</h1>
  <h2 class="text-xl font-bold">研究分野の成果の社会実装を加速させる</h2>
  学生時代、様々な共同研究に参加させていただいたのですが、どんなに画期的な成果が実現しようとも、<br />
  ビジネス的な観点の欠落や実行基盤等々の不足によって社会実装されたものは無く、とても歯がゆい思いをしました。<br />
  そこで、自身がビジネス的な観点を満たした研究開発提案の人間になりつつ、<br />
  研究分野の成果をさらにひと手間かけることなく、社会実装のできる実行基盤を作りたいと考えています。<br />
  そして、その1歩目として、MLの分野における研究成果の社会実装を加速させるMLOps基盤の開発を1つ目のキャリアとして追求しています。<br />
  この先にはどんな未来が待っているのかはまだ確信はありませんが、DNAコンピューティング等のノイマン型でないコンピュータの商用化にも興味があります。
</div>
