---
---

<nav class="sticky top-0 left-0 z-10 bg-blue-600 w-full text-white justify-between" role="navigation">
  <div class="flex">
    <a class="text-5xl font-bold" href="#top">Yoshihiko Kato</a>
    <a class="p-2"> a.k.a. </a>
    <a class="text-xl">discord4415</a>
  </div>
  <ul class="flex justify-end" id="menu">
    <li class="p-2"><a href="#it">興味</a></li>
    <li class="p-2"><a href="#wh">職歴</a></li>
    <li class="p-2"><a href="#kb">研究</a></li>
    <li class="p-2"><a href="#ks">趣味</a></li>
    <li class="p-2"><a href="#jr">受賞歴</a></li>
    <li class="p-2"><a href="#works">制作物</a></li>
  </ul>
</nav>
