---
---

<div id="top" class="anchor-target"></div>
<div id="js" class="grid grid-cols-12 anchor-target">
  <h1 class="col-span-12 text-5xl font-bold">加藤慶彦 Yoshihiko Kato</h1>
  <img src="/img/photo2.png" class="col-span-3" />
  <div class="col-span-2"></div>
  <div class="col-span-7">
    <h2 class="text-2xl font-bold">好きなもの</h2>
    <p>
      - クラフトビール (特にHazy IPA)
    </p>
    <h2 class="text-2xl font-bold">学歴</h2>
    <p>
      2023年 慶應大学理工学部開放環境科学専攻博士後期課程単位取得退学<br />
      2018年 電気通信大学情報理工学研究科博士前期課程卒業<br />
      2016年 電気通信大学情報理工学部卒業<br />
    </p>
  </div>
</div>
