---
---

<div id="works" class="grid grid-cols-12">
  <h1 class="col-span-12 text-2xl font-bold anchor-target">制作物</h1>
  <div id="it-k" class="grid grid-cols-12">
    <h2 class="col-span-12">過去に作ったもの</h2>
  </div>
  <div id="it-g" class="grid grid-cols-12">
    <h2 class="col-span-12">現在作っているもの</h2>
    <h3 class="col-span-12">LoL Brain</h3>
    <p class="col-span-12">
      Deep Learningを使ったLoL勝敗予測アルゴリズムの開発を趣味程度に行っております。
    </p>
  </div>
</div>
