---
---

<div id="wh" class="anchor-target">
  <h1 class="text-2xl font-bold anchor-target">職歴</h1>
  <h2 class="text-xl font-bold">Sansan株式会社</h2>
  <h3>2023年8月〜現在</h3>
  Platform Engineerとして、Sansanの研究開発を牽引するKubernetes基盤、Circuitの開発を行っております。
  <h2 class="text-xl font-bold">株式会社LIFULL</h2>
  <h3>2022年4月〜2023年7月</h3>
  Platform Engineerとして、LIFULLのプロダクトをホストするKubernetes基盤、KEELの開発を行っておりました。<br />
  また、機械学習プロダクトの研究開発、デプロイ、管理を行うことのできるMLOps基盤の設計を行い、実験環境のKEELへの導入を行いました。
</div>
