---
interface Props {
  title?: string;
}

const { title = 'Yoshihiko Kato' } = Astro.props;

import '../styles/global.css';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
